body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: wheat;
    color: black;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo h1 {
    margin: 0;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav button {
    color:black;
    text-decoration: none;
    margin: 0 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
.header .nav button:hover {
    background-color:orange ;
}

.main-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    justify-content: space-between;
    margin-left:100px;
}



.sidebar {
    width: 200px;
    padding: 20px;
    background-color:wheat;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.search-bar button {
    padding: 10px;
    background-color:orange;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color:white;
}

.search-options {
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

.search-options input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-post-button {
    margin-bottom: 20px;
}

.new-post-button button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.new-post-button button:hover {
    background-color:white;
}

.new-post-button a {
    color:black;
    text-decoration: none;
}

.profile-box {
    background-color: wheat;
    color:black;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px; /* مسافة بين صندوق الصفحة الشخصية وصندوق المناشير */
}

.profile-box button {
    background-color: orange;
    color:black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.profile-box button:hover {
    background-color:white;
    color: black;
}

.container {
    flex-grow: 1;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* مسافة بين صندوق المناشير وصندوق الصفحة الشخصية */
    margin-left: 20px;
}

.post {
    background-color: #fff;
    padding: 10px;
