body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fc8434c4;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* جعل النموذج أضيق */
}

div {
    margin-bottom: 10px; /* تقليل المسافة بين الحقول */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #ff9c4bea;
    color: white;
    padding: 12px 60px; /* جعل الزر أكبر */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* زيادة حجم النص في الزر */
}

input[type="submit"]:hover {
    background-color: #fcac6bea;
}

